lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# docker compose files should not be in any of the images.
.docker-compose*.yml

# git folder 
.git/

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env
nodemon.json
# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*